// Цвета
$primary-color: #2196f3;
$secondary-color: #ffffff;
$background-color: #f5f5f5;
$text-color: #333;
$active-button-color: #1e88e5;
$hover-button-color: #3594e7;

// Размеры
$grid-gap: 48px;
$grid-item-size: 225px;
